<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="opencv.win.native" version="320.1.1-vs141" targetFramework="native" />
  <package id="opencv.win.native.redist" version="320.1.1-vs141" targetFramework="native" />
  <package id="unofficial-flayan-openvr" version="1.0.6" targetFramework="native" />
  <package id="unofficial-flayan-openvr.redist" version="1.0.6" targetFramework="native" />
</packages>